body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  outline: 0.1em solid grey; 
  margin-bottom: 20px;
  max-width: 500px;
}

.card-header {
  display: flex;
  flex-direction: column; 
  align-items: left; 
  gap: 10px;
}

h2 {
  margin: 0;
  font-size: 20px;
  text-align: left;
}

.scientist-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 1em;
  object-fit: cover;
  object-position: center;
}

.card ul {
  list-style: disc; 
  padding-left: 20px;
  margin: 8px 0;
}

.card li {
  margin: 4px 0;
}